MQTT_URL=mqtt://127.0.0.1:1883
MQTT_TOPIC_STATE=wifi-presence/station/+/+/state
MQTT_TOPIC_ATTRS=wifi-presence/station/+/+/attrs
MQTT_USERNAME=wifi_presence
MQTT_PASSWORD=123456
HTTP_ENDPOINT=http://4.194.30.85:15057/ingest
INGEST_TOKEN=c24210b5ababb1cefae51112f775840b
